* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Athiti'; /* TODO: import from google sooner or later */
    color: #0B4654;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px;
}

.logo-and-brandname {
    display: flex;
    align-items: center ;
    gap: 20px;
}

.logo {
    width: 63px;
}

.brandname {
    font-weight: 600;
    font-size: 28.0816px;
    line-height: 45px;
    color: inherit;
}

img {
    width: 100%;
}

.menu-list {
    display: flex;
    gap: 42px;
    align-items: center;
}

.hamburger {
    width: 24px;
    height: 24px;
    background: url(./img/hamburger.png);
    display: none;
}

li {
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.advice {
    display: flex;
}

main {
    display: flex;
    padding-top: 90px;
    padding-inline: 32px;
}

.main-text {
    width: 50%;
    font-family: 'Inter'; /*TODO: import front*/

}

.color-word {
    color: #07B464;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #1C1E52;
    margin-bottom: 22px;
    width: 84%;
}

.main-text-par  {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 32px;
}

.know-more-buttom {
    background: linear-gradient(180deg, #34E06F 0%, #07B464 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(255, 255, 255, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 60px;
    margin-top: 10px;
}

.main-img {
    width: 667px;
    margin-top: -135px;
    padding-right: 20px;
}

.main-img-img {
    width: 100%;
}

.made-by {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 64px;
    color: #1C1E52;
}

.way {
    display: none;
}

/* Mobile ver/ */

@media screen and (max-width: 1024px) {
    .menu-list {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    main {
        display: block;
        padding-top: 0;
    }

    .advice {
        flex-direction: column;
        padding-top: 0;
    }

    
    .main-text {
        width: 100%;
        font-family: 'Inter';
        padding-inline: 11%;
    }

    h1 {
        width: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .main-text-par {
        font-size: 12px;
        line-height: 16px;
        padding-inline: 14%;
        text-align: center;
    }

    .know-more-buttom {
        margin-top: 10px;
        display: block;
        margin: 0 auto;
        width: 226px;
    }

    .main-img {
        width: 100%;
        margin-top: 0;
        margin-inline: 10%;
        margin-top: 20px;
    }

    .way {
        width: 100%;
        display: block;
        border: 0.663073px solid #DEDEDE;
        border-radius: 6.63073px;
    }

    .atom {
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
        }
    }

    .atom-png {
        width: 33px;
    }

    .maint-text-way {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0663073px;
        padding-inline: 36%;
        padding-bottom: 12px;
    }

    .main-test-par-way {
        width: 100%;
        padding-inline: 27%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 11.9353px;
        line-height: 16px;
        text-align: center;
        color: #5C5C5C;
    }
}

